__pycache__/
*.py[cod]
*.so
*.pyd
*.egg-info/


**/__pycache__/

# ignore docs folder
docs/
 


.ipynb_checkpoints/
.cache/
.pytest_cache/
.mypy_cache/

.venv/
venv/
env/
.env

*.log
*.tmp

data/raw/
data/processed/
data/restricted/
outputs/

results/*
!results/README.md
!results/.gitkeep

.DS_Store
Thumbs.db
.vscode/
.idea/
